.user-card-container {
  display: flex;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
  width: 350px;
  height: auto;
}

.user-card-container:hover {
  background-color: #f7e7e7;
}

.user-card-info {
  display: flex;
  align-items: center;
}

.user-card-info img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}

.user-card-info ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.user-card-info ul li {
  margin-bottom: 5px;
}

.user-card-info ul li strong {
  font-weight: bold;
}
