.user-details-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.user-details-container h1 {
  margin-top: 20px;
  font-size: 24px;
  font-weight: bold;
}

.user-details-container ul {
  list-style: none;
  padding: 0;
  margin: 20px 0;
  font-size: 18px;
}

.user-details-container ul li {
  margin-bottom: 10px;
}

.user-details-container img {
  width: 300px;
  height: 300px;
  border-radius: 50%;
}
