/* card.css */

.card-container {
  width: 300px;
  background-color: #ffffff;
  border: 1px solid #e1e1e1;
  border-radius: 8px;
  padding: 16px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-container:hover {
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
}

.card-container img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 16px;
}

.card-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 8px;
}

.heart-icon {
  font-size: 1.7em;
}

.card-details {
  margin-bottom: 8px;
}

.card-btn {
  margin-top: auto;
  padding: 8px 16px;
  background-color: #0756e9d8;

  color: #ffffff;
  border: none;
  margin-top: 20px;
  border-radius: 15px;
  cursor: pointer;
}

.card-btn:hover {
  background-color: #202d50;
}
