.navbar {
  display: flex;
  align-items: center;
  background-color: #3694f9;
  font-size: 20px;
  font-weight: bold;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: #fcfafa;
  cursor: pointer;
  padding-left: 10px;
  padding-right: 10px;
  justify-content: space-between;
  height: 70px;
  margin-bottom: 40px;
}

.navbar-title {
  display: flex;
  align-items: center;
}

.robot-icon {
  margin-right: 10px;
  font-size: 2rem;
  display: flex;
  align-items: center;
}

.links {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 8px;
}

.links div {
  display: flex;
  align-items: center;
  margin-left: 5px;
}

.links a {
  color: #fcfafa;
  text-decoration: none;
  transition: color 0.3s ease;
}

.links a:hover {
  color: #202d50;
}

.search-container {
  flex-grow: 0.95;
  display: flex;
  align-items: center;
  margin: 0 10px;
}

.search {
  width: 100%;
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  border-radius: 50px;
}

.search-icon {
  cursor: pointer;
  color: #3694f9;
  margin-left: -29px;
  z-index: 100;
}
